<table class="table">
<tr>
  <th>Juhe ID</th>
  <th>Province</th>
  <th>City</th>
  <th>District</th>
  <th>Temp</th>
  <th>Wind</th>
</tr>
<% @cities.each do |cc| %>
<% if cc.city==nil then%>
<%else%>
  <tr>
    <td><%= cc.juhe_id %></td>
    <td><%= cc.province %></td>
    <td><%= cc.city %></td>
    <td><%= cc.district %></td>
    <td><%= cc.current_temp %>
        <%= link_to "更新温度", update_temp_city_path(cc), :method => :post %>
    </td>
    <td>
      <%= cc.wind_direction %><%= cc.wind_strength %>
      <%= link_to "更新风况", update_wind_city_path(cc), :method => :post %>
    </td>
  </tr>
<% end %>
<% end %>
</table>
